* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  color: white;
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 5px 20px;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.logo-img {
  max-width: 32px;
}

.logo-txt {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.1em;
}

.header-info {
  font-weight: 500;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 1rem;
}

.form-inputs {
  display: flex;
  gap: 15px;
}

.form-inputs input {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  flex: 1;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.05em;
  padding: 10px;
  font-family: "Karla", sans-serif;
}

.meme-img {
  max-width: 100%;
  margin: auto;
  border-radius: 3px;
  display: block;
}

.meme {
  position: relative;
  padding: 0 3rem;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  user-select: none;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
